@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.container{
  padding-bottom:165px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img{
  margin-bottom: 20px;
  height: auto;
  max-width: 100%;
  width: 100%;
}

nav{
  margin-bottom: 20px;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding:15px;
  margin-top: 20px;
  background-color: black;
  color: white;
  height:165px;
}

.navbar{
  background-color: black;
  align-items:normal;
  padding-top:0px;
  padding-bottom:0px;
}

.nav-item{
  height:25px;
}

.nav-link{
  padding-bottom:0px;
  padding-top:0px;
  text-align: center;
  margin-right:50px;
  margin-top:5px;
}

.navbar-dark .navbar-nav .nav-link{
  color:lightgreen;
}

.bag{
  height:auto;
  width:30px;
  margin-left:5px;
  margin-bottom:10px;
}

.dropdown-item{
  text-align: center;
}

.logo{
  height:auto;
  width:50px;
  margin-bottom:-20px;
}

h3{
  font-size: 17px;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
}

h4{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

h2{
  font-size: 17px;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
}

p{
  font-size: 15px;
  font-family: 'Fira Sans', sans-serif;
}

em{
  font-size:12px;
}

#needs-validation{
  padding-left:0px;
  margin-bottom:15px;
}

.btn-primary{
  background-color:rgb(177, 76, 9);
  border-color: rgb(104, 46, 8);
  margin-bottom:15px;
}

.btn-primary:hover{
  background-color:green;
  border-color:darkgreen;
}


.form-control{
  background-color: rgb(201, 247, 132);
}

ul{
  margin-left:auto;
}

.progress{
  margin-bottom:15px;
  background-color:black;
}

.delete{
  float:left;
}

hr{
  border-color:lightgreen;
}

.bedankt{
  height:auto;
  width:200px;
}

.footer-links{
  color:white;
}

.footer-links:hover{
  color:greenyellow;
  text-decoration: none;
}

.secret{
  color:black;
  text-decoration: none;
}

.secret:hover{
  color:black;
  text-decoration: none;
}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width:767px) {
  .top-right {
    position: absolute;
    top: 5px;
    right: 15px;
    color:white;
    font-weight:bold;
    padding-right:5px;
    font-size:12px;
  }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color:white;
    font-weight:bold;
    padding-right:15px;
    font-size:30px;
  }
}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}