@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.container{
  padding-bottom:165px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img{
  margin-bottom: 20px;
  height: auto;
  max-width: 100%;
  width: 100%;
}

nav{
  margin-bottom: 20px;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding:15px;
  margin-top: 20px;
  background-color: black;
  color: white;
  height:165px;
}

.navbar{
  background-color: black;
}

h3{
  font-size: 18px;
  font-weight:bold;
}

h4{
  font-size: 16px;
}

h2{
  font-size: 18px;
  font-weight:bold;
}

p{
  font-size: 16px;
}

em{
  font-size:12px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color:white;
  font-weight:bold;
  padding-right:15px;
  font-size:30px;
}

#needs-validation{
  padding-left:0px;
  margin-bottom:15px;
}

#validationDefault01{
  color: white;
  background-color: rgb(54, 179, 54);
}